[defaults]
inventory = inventory.yml
# Don't create retry files
retry_files_enabled = false
# Cleaner output
stdout_callback = default
callback_result_format = yaml
# Speed up fact gathering
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 86400

[privilege_escalation]
# We handle sudo authentication in bootstrap.sh before running ansible
become_ask_pass = false
