[Desktop Entry]
Name=Synology Drive Client
Comment=Synology Drive Client
Exec=env QT_QPA_PLATFORM=xcb synology-drive start
Icon=synology-drive
Terminal=false
Type=Application
Categories=Network;FileTransfer;
