layout {

    focus-ring {
        active-color   "#c4a82e"
        inactive-color "#0c1017"
        urgent-color   "#b32d2d"
    }

    border {
        active-color   "#c4a82e"
        inactive-color "#0c1017"
        urgent-color   "#b32d2d"
    }

    shadow {
        color "#090d1370"
    }

    tab-indicator {
        active-color   "#c4a82e"
        inactive-color "#443909"
        urgent-color   "#b32d2d"
    }

    insert-hint {
        color "#c4a82e80"
    }
}

recent-windows {
    highlight {
        active-color "#c4a82e"
        urgent-color "#b32d2d"
    }
}
